/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@footer {
--color-footer: #1080c4;
--spacing-footer: 7px;
};


@custom-variant dark (&:where(.dark, .dark *));

@theme {
--color-mint-500: oklch(0.72 0.11 178);
}


